<div>
	<div class="inline_divs fs_0">
		<div class="w30p">
			<div class="number_view"><%=todays_date%></div>
			<div class="info_number inline_divs">
				<div class="circle m_right_10 point_visual bck_green v_mid"></div>
				<div class="info_text_number ellipsis v_mid">Citas del día</div>
			</div>
		</div>
		<div class="w40p">
			<div class="number_view"><%=week_date%></div>
			<div class="info_number inline_divs">
				<div class="circle m_right_10 point_visual bck_blue v_mid"></div>
				<div class="info_text_number ellipsis v_mid">Citas de la semana</div>
			</div>
		</div>
		<div class="w30p">
			<div class="number_view"><%=month_date%></div>
			<div class="info_number inline_divs">
				<div class="circle m_right_10 point_visual bck_gray v_mid"></div>
				<div class="info_text_number ellipsis v_mid">Citas del Mes</div>
			</div>
		</div>
	</div>
</div>