<div class="right_col" role="main">
	<div class="">
		<div class="title_page">
	      Administración
	    </div>
		<div class="x_title">
			<h2>Edicion de Rol (<%=@admin_cie_role.name%>)</h2>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					
					<div class="x_content">
						<%= render 'form', {admin_cie_role: @admin_cie_role, url: admin_cie_role_path(@admin_cie_role.id)} %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
