<div class="right_col" role="main">
	<div class="">
		<div class="title_page">
	      Registro
	    </div>
		<div class="x_title">
			<h2>Ficha Clínica: (<%=@registry_patient.display_name%>)</h2>
			<div class="clearfix"></div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					
					<div class="x_content">
						<%= render 'medical_form', registry_patient: @registry_patient %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>